<p id="notice"><%= notice %></p>
<div class = "user-details" >
   <h1>Welcome <%=@profile.fname %> &nbsp<%=@profile.lname %> </h1>
      <p>
      <strong>Fname:</strong>
      <%= @profile.fname %>
     </p>
    <strong>Roles</strong> <%= display_user_roles  @user%>
     <p>
      <strong>Lname:</strong>
      <%= @profile.lname %>
   </p>
</div>

<%= form_for @user, 
             url: { action: 'update_profile_image' },
             remote:true, authenticity_token: true do |f| %>
 <input type = 'hidden' name = 'user[attr]' value = "<%=@user.id%>" />
<div class ="user-med-pic">
     <%= image_tag current_user.avatar.url(:medium), id: 'dis-img' %>
    <a id="change-picture" >Update profile picture</a>
   </div>

    <div style = "display:none" id = "update_pic" >
    <%= render partial: 'devise/registrations/image_upload' , locals: { f: f } %>
    <input type = "button" value ="Update" id= "update-img" 
      onclick ="AjaxUpdateImage($('form').attr('action'), $('form').attr('id'))" />
     <button type="button" class ="fb_up_pic" id = "fb_up" >Use my facebook image</button> 
    </div>
<% end %>

