<h3 id = "admin-header">Administration</h1>
<%= link_to 'Members' , :controller => 'admins', :action => 'list' %><br>
<%= link_to 'Add Members' , admins_add_members_path %>
 <%= text_field(:role, :userole, class: "admin-add-member-role" ,:placeholder => "search members") %>

 <%= form_tag ("/admin_assign_roles") do %>
 <div id ="data-set" class = "suggestion-data" > </div>
 <div id ="role" class = "suggestion-role" > <%= render 'roles' %></div>
 <input type ="submit" value ="assign roles" class = "sub-roles" />
<% end %>

<%= javascript_tag  do -%>
 $( "#role_userole" ).keypress(function(e) {
    if (e.which != 13 ){
    ForaAotucompleteFiled(this.id)
    }
  });
<% end %>
