<table >
<% @users.each do |m| %>
<tr id = "<%=m.id%>"> <td> <%=m.firstname%> </td><td> <%=m.lastname%> </td> <td> <%=m.email%></td>
<td> <button type="button"  onclick = "RemoveUser(<%= m.id %>)"> Delete</button> </td></tr>
<% end %>
</table>





