<!DOCTYPE html>
<html>
<head>
  <title>Talen</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  'boootstrap' %> 
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="header">
   <% if current_user.present? %>
   <%= link_to "MY Profile" , profile_path(:id => current_user.id) %>
   <% end %>
   <a href="/about_us">About Us</a>
   <a href="/contact_us">Contcat us</a>
</div>
<%= yield %>
</body>
</html>
